<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="Fichero" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/logs/timelapse.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<param name="Append" value="true"/>
        <param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} | %t | [%-5p]  %c -> %m%n" />
		</layout>
	</appender>
	<appender name="Consola" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%t [%-5p] %c{1} -> %m%n" />
		</layout>
	</appender>
	<!-- Habilito log para hibernate -->
	<category name="org.hibernate">
		<priority value="warn" />
	</category>
	<!-- log just the SQL -->
	<category name="org.hibernate.SQL">
		<priority value="debug" />
	</category>
	<!-- log JDBC bind parameters -->
	<category name="org.hibernate.type">
		<priority value="debug" />
	</category>
	<!-- Habilito el log para los actions -->
	<category name="timeLapse.controller.interceptors.jsonResul.JSONResult">
		<priority value="warn" />
	</category>
	<!-- Habilito la traza del login intereptor de Spring-->
	<category name="timeLapse.controller.interceptors.logger.SpringLoggerInterceptor">
		<priority value="debug" />
	</category>
	<!-- Habilito la traza del login intereptor de Struts-->
	<category name="timeLapse.controller.interceptors.logger.StrutsLogerInterceptor">
		<priority value="debug" />
	</category>
	
	
	
	<root>
		<priority value="info" />
		<appender-ref ref="Consola" />
		<appender-ref ref="Fichero" />
		
	</root>

</log4j:configuration>
