.mailIconCancel,.mailIconOptions,.mailIconFolderDocuments,.mailIconFolderInbox,.mailIconFolderSent,.mailIconGetMail,.mailIconNewMessage,.mailIconMailbox,.mailIconOk,.mailIconTrashcanFull
	{
	background-image: url('../images/icons.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
	padding-right: 4px;
}

.dj_ie6 .mailIconCancel,.dj_ie6 .mailIconOptions,.dj_ie6 .mailIconFolderDocuments,.dj_ie6 .mailIconFolderInbox,.dj_ie6 .mailIconFolderSent,.dj_ie6 .mailIconGetMail,.dj_ie6 .mailIconNewMessage,.dj_ie6 .mailIconMailbox,.dj_ie6 .mailIconOk,.dj_ie6 .mailIconTrashcanFull
	{
	background-image: url('../html/prueba1/data/icons.gif');
}

.mailIconCancel {
	background-position: 0px;
}

.mailIconOptions {
	background-position: -22px;
}

.mailIconFolderDocuments {
	background-position: -44px;
}

.mailIconFolderInbox {
	background-position: -66px;
}

.mailIconFolderSent {
	background-position: -88px;
}

.mailIconGetMail {
	background-position: -110px;
}

.mailIconNewMessage {
	background-position: -132px;
}

.mailIconMailbox {
	background-position: -154px;
}

.mailIconOk {
	background-position: -176px;
}

.mailIconTrashcanFull {
	background-position: -198px;
}